DATABASE_URL="string_de_conexão"
PORT=3000
POSTGRES_USER=nome_de_usuario_que_quiser
POSTGRES_PASSWORD=senha_que_quiser1
POSTGRES_DB=nome_que_quiser
NODE_ENV=development
FRONTEND_ORIGIN="http://localhost:8080"
SESSION_SECRET=secret_aleatorio_grande
ADMIN_EMAIL=seu_email@exemplo.com
ADMIN_SENHA=senha_que_quiser2
LIMITE_GLOBAL=5000
LIMITE_LOGIN=100
LOG_LEVEL=info
