NODE_ENV=test
PORT=3001
DATABASE_URL="postgresql://USUARIO:SENHA@localhost:5432/obras_test?schema=public"
FRONTEND_ORIGIN="http://localhost:5173"
SESSION_SECRET="gere-com-openssl-rand-hex-48"
LOG_LEVEL=silent
LIMITE_GLOBAL=100000
LIMITE_LOGIN=100000
TRUST_PROXY=0
